<!-- wp:group {"tagName":"header","metadata":{"name":"header"},"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"},"blockGap":"0"},"position":{"type":"sticky","top":"0px"}},"layout":{"type":"default"}} -->
<header class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:template-part {"slug":"header","tagName":""} /--></header>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","metadata":{"name":"main"},"style":{"spacing":{"padding":{"bottom":"var:preset|spacing|l"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-bottom:var(--wp--preset--spacing--l)"><!-- wp:group {"metadata":{"name":"page header"},"style":{"spacing":{"padding":{"top":"var:preset|spacing|l","bottom":"var:preset|spacing|l","left":"var:preset|spacing|s","right":"var:preset|spacing|s"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--l);padding-right:var(--wp--preset--spacing--s);padding-bottom:var(--wp--preset--spacing--l);padding-left:var(--wp--preset--spacing--s)"><!-- wp:query-title {"type":"archive","textAlign":"center","showPrefix":false,"style":{"typography":{"textTransform":"lowercase"}},"fontSize":"extra-large"} /-->

<!-- wp:term-description {"textAlign":"center"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"0","padding":{"right":"var:preset|spacing|s","left":"var:preset|spacing|s"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group alignwide" style="padding-right:var(--wp--preset--spacing--s);padding-left:var(--wp--preset--spacing--s)"><!-- wp:query {"queryId":13,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true,"taxQuery":null,"parents":[],"format":[]},"align":"wide"} -->
<div class="wp-block-query alignwide"><!-- wp:post-template {"style":{"spacing":{"blockGap":"var:preset|spacing|l"}}} -->
<!-- wp:columns {"verticalAlignment":"center","style":{"spacing":{"blockGap":{"top":"var:preset|spacing|s","left":"var:preset|spacing|s"}}}} -->
<div class="wp-block-columns are-vertically-aligned-center"><!-- wp:column {"verticalAlignment":"center"} -->
<div class="wp-block-column is-vertically-aligned-center"><!-- wp:post-featured-image {"isLink":true,"aspectRatio":"1"} /--></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center","style":{"spacing":{"padding":{"top":"var:preset|spacing|m","bottom":"var:preset|spacing|m","left":"0","right":"0"},"blockGap":"var:preset|spacing|xxs"}}} -->
<div class="wp-block-column is-vertically-aligned-center" style="padding-top:var(--wp--preset--spacing--m);padding-right:0;padding-bottom:var(--wp--preset--spacing--m);padding-left:0"><!-- wp:post-title {"textAlign":"left","isLink":true,"style":{"typography":{"textTransform":"lowercase"},"spacing":{"margin":{"bottom":"var:preset|spacing|m"}},"elements":{"link":{"color":{"text":"var:preset|color|text"},":hover":{"color":{"text":"var:preset|color|link"}}}}},"textColor":"text","fontSize":"extra-large"} /-->

<!-- wp:group {"metadata":{"name":"status"},"style":{"spacing":{"blockGap":"var:preset|spacing|xxs"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left","verticalAlignment":"top"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|link"}}}},"textColor":"link"} -->
<p class="has-link-color has-text-color">status:</p>
<!-- /wp:paragraph -->

<!-- wp:post-terms {"term":"project_status","style":{"elements":{"link":{"color":{"text":"var:preset|color|text"},":hover":{"color":{"text":"var:preset|color|link"}}}}}} /--></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"published date"},"style":{"spacing":{"blockGap":"var:preset|spacing|xxs"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left","verticalAlignment":"top"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|link"}}}},"textColor":"link"} -->
<p class="has-link-color has-text-color">published:</p>
<!-- /wp:paragraph -->

<!-- wp:post-date {"metadata":{"bindings":{"datetime":{"source":"core/post-data","args":{"field":"date"}}}}} /--></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"modified date"},"style":{"spacing":{"blockGap":"var:preset|spacing|xxs"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left","verticalAlignment":"top"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|link"}}}},"textColor":"link"} -->
<p class="has-link-color has-text-color">last modified:</p>
<!-- /wp:paragraph -->

<!-- wp:post-date {"metadata":{"bindings":{"datetime":{"source":"core/post-data","args":{"field":"modified"}}}},"className":"wp-block-post-date__modified-date"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"categories"},"style":{"spacing":{"blockGap":"var:preset|spacing|xxs"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left","verticalAlignment":"top"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|link"}}}},"textColor":"link"} -->
<p class="has-link-color has-text-color">categories:</p>
<!-- /wp:paragraph -->

<!-- wp:post-terms {"term":"project_category","style":{"elements":{"link":{"color":{"text":"var:preset|color|text"},":hover":{"color":{"text":"var:preset|color|link"}}}}}} /--></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"tools"},"style":{"spacing":{"blockGap":"var:preset|spacing|xxs"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left","verticalAlignment":"top"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|link"}}}},"textColor":"link"} -->
<p class="has-link-color has-text-color">tools:</p>
<!-- /wp:paragraph -->

<!-- wp:post-terms {"term":"project_tools","style":{"elements":{"link":{"color":{"text":"var:preset|color|text"},":hover":{"color":{"text":"var:preset|color|link"}}}}}} /--></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"excerpt"},"style":{"spacing":{"blockGap":"var:preset|spacing|xxs"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left","verticalAlignment":"top"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|link"}}},"layout":{"selfStretch":"fixed","flexSize":"45px"}},"textColor":"link"} -->
<p class="has-link-color has-text-color">tl;dr:</p>
<!-- /wp:paragraph -->

<!-- wp:post-excerpt {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0","left":"0","right":"0"}},"layout":{"selfStretch":"fixed","flexSize":"420px"}}} /--></div>
<!-- /wp:group -->

<!-- wp:read-more {"content":"read more","style":{"spacing":{"margin":{"top":"var:preset|spacing|m"}}},"fontSize":"medium"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:separator {"className":"is-style-default"} -->
<hr class="wp-block-separator has-alpha-channel-opacity is-style-default"/>
<!-- /wp:separator -->
<!-- /wp:post-template -->

<!-- wp:query-pagination {"layout":{"type":"flex","justifyContent":"space-between"}} -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination -->

<!-- wp:query-no-results -->
<!-- wp:paragraph {"placeholder":"Add text or blocks that will display when a query returns no results.","style":{"typography":{"textAlign":"center"}}} -->
<p class="has-text-align-center">query returned no results.</p>
<!-- /wp:paragraph -->
<!-- /wp:query-no-results --></div>
<!-- /wp:query --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","area":"uncategorized"} /-->