<!-- wp:group {"tagName":"header","metadata":{"name":"header"},"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"},"blockGap":"0"},"position":{"type":"sticky","top":"0px"}},"layout":{"type":"default"}} -->
<header class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:template-part {"slug":"header","tagName":""} /--></header>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"blockGap":"0"}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:columns {"verticalAlignment":"center","align":"full","style":{"spacing":{"padding":{"right":"var:preset|spacing|s","left":"var:preset|spacing|s"},"blockGap":{"top":"var:preset|spacing|s","left":"var:preset|spacing|s"}}}} -->
<div class="wp-block-columns alignfull are-vertically-aligned-center" style="padding-right:var(--wp--preset--spacing--s);padding-left:var(--wp--preset--spacing--s)"><!-- wp:column {"verticalAlignment":"center","width":"50%"} -->
<div class="wp-block-column is-vertically-aligned-center" style="flex-basis:50%"><!-- wp:post-featured-image {"aspectRatio":"16/9"} /--></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center","width":"50%","style":{"spacing":{"padding":{"top":"var:preset|spacing|l","bottom":"var:preset|spacing|l","left":"0","right":"0"},"blockGap":"var:preset|spacing|xxs"}}} -->
<div class="wp-block-column is-vertically-aligned-center" style="padding-top:var(--wp--preset--spacing--l);padding-right:0;padding-bottom:var(--wp--preset--spacing--l);padding-left:0;flex-basis:50%"><!-- wp:post-title {"textAlign":"left","level":1,"style":{"typography":{"textTransform":"lowercase"},"spacing":{"margin":{"bottom":"var:preset|spacing|s"}}},"fontSize":"extra-large"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:group {"metadata":{"name":"Content"},"style":{"spacing":{"padding":{"right":"var:preset|spacing|xs","left":"var:preset|spacing|xs","top":"var:preset|spacing|l","bottom":"var:preset|spacing|l"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--l);padding-right:var(--wp--preset--spacing--xs);padding-bottom:var(--wp--preset--spacing--l);padding-left:var(--wp--preset--spacing--xs)"><!-- wp:post-content {"align":"full","style":{"spacing":{"blockGap":"var:preset|spacing|s"}},"layout":{"type":"constrained"}} /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->